services:
  clawdbot:
    build: .
    restart: unless-stopped
    expose:
      - 18789
    labels:
      - traefik.enable=true
      - traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https
      - traefik.http.middlewares.gzip.compress=true
      - traefik.http.services.clawdbot.loadbalancer.server.port=18789
      - traefik.http.routers.http-clawdbot.entryPoints=http
      - traefik.http.routers.http-clawdbot.rule=Host(`${FQDN}`)
      - traefik.http.routers.http-clawdbot.middlewares=redirect-to-https
      - traefik.http.routers.https-clawdbot.entryPoints=https
      - traefik.http.routers.https-clawdbot.rule=Host(`${FQDN}`)
      - traefik.http.routers.https-clawdbot.middlewares=gzip
      - traefik.http.routers.https-clawdbot.tls=true
      - traefik.http.routers.https-clawdbot.tls.certresolver=letsencrypt
    environment:
      NODE_ENV: production
      ANTHROPIC_API_KEY: ${ANTHROPIC_API_KEY}
      TELEGRAM_BOT_TOKEN: ${TELEGRAM_BOT_TOKEN:-}
      GATEWAY_TOKEN: ${GATEWAY_TOKEN:-please-change-this-token}
    volumes:
      - clawdbot-data:/root/.clawdbot
      - workspace-data:/app/workspace

volumes:
  clawdbot-data:
  workspace-data:
